
.main-body{

    width: 100%;
    height: 100%;
    padding-top: 6em;
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;

}

#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('./img/pexels-photo-395196.jpeg');
  background-size: cover;
  background-position: center;
}

.button_space{
  padding-bottom: 10px;
}

.app_heading{
  font-family: 'Anton', sans-serif;
  color: #fff;
}

.sub_heading{
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 1.3rem;
}

.list_font {
  font-family: 'Abel', sans-serif;
  font-size: 1.5rem;
}